# ------------------LangSmith tracing------------------
LANGCHAIN_PROJECT="default"
LANGCHAIN_API_KEY=""
LANGCHAIN_TRACING_V2=true
# -----------------------------------------------------

# Defaults to Anthropic models, OpenAI & Google keys are optional, unless using those models
ANTHROPIC_API_KEY=""
OPENAI_API_KEY=""
GOOGLE_API_KEY=""

# E2B API key for accessing and modifying the code in the cloud sandbox.
E2B_API_KEY=""

# Your GitHub PAT with access to the repositories you want to modify.
GITHUB_PAT=""
